input {
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px outline #000;
}

#map {
    clear: both;
    padding: 10px;
    margin: 10px 0px;
    min-width: 500px;
    min-height:620px;
    background-image:url('../images/UKFrackingMapwithHoles.png');
    background-repeat:no-repeat;
    cursor: none;
    position: relative;
}

/* cursor element */
#fracking-rig {
    position: absolute;
    background: url('../images/cursor.png') no-repeat;
    width: 260px;
    height: 239px;
    cursor: none;
}

#time {
    position:absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    width: 90%;
}

#timer-label {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

#timer-label span {
    font-size: 2.5em;
}

#timer {
    display: inline-block;
    width: 70%;
}

.hole {
    width: 50px;
    height: 50px;
    margin: 2px;
    cursor: none;
    text-align: center;
	position:relative;
}

#hole-1 {
	top:180px;
	left:230px;
}
#hole-2 {
	top:190px;
	left:145px;
}
#hole-3 {
	top:130px;
	left:260px;
}
#hole-4 {
	top:130px;
	left:270px;
}
#hole-5 {
	top:100px;
	left:345px;
}
#hole-6 {
	top:75px;
	left:273px;
}
#hole-7 {
	top:95px;
	left:253px;
}
#hole-8 {
	top:30px;
	left:383px;
}
#hole-9 {
	top:25px;
	left:365px;
}
#hole-10 {
	top:-5px;
	left:305px;
}

.hole.on {
    background-size: contain;
}

#hole-1.hole.on {
    background-image:url('../images/Group1.png');
}
#hole-2.hole.on {
    background-image:url('../images/Group2.png');
}
#hole-3.hole.on {
    background-image:url('../images/Group3.png');
}
#hole-4.hole.on {
    background-image:url('../images/Group4.png');
}
#hole-5.hole.on {
	background-image:url('../images/Group5.png');
}
#hole-6.hole.on {
	background-image:url('../images/Group6.png');
}
#hole-7.hole.on {
	background-image:url('../images/Group7.png');
}
#hole-8.hole.on {
	background-image:url('../images/Group8.png');
}
#hole-9.hole.on {
	background-image:url('../images/Group9.png');
}
#hole-10.hole.on {
	background-image:url('../images/Group10.png');
}

#hole-1.hole.on.splat {
    background-image:url('../images/Group1_splat.png');
}
#hole-2.hole.on.splat {
    background-image:url('../images/Group2_splat.png');
}
#hole-3.hole.on.splat {
    background-image:url('../images/Group3_splat.png');
}
#hole-4.hole.on.splat {
    background-image:url('../images/Group4_splat.png');
}
#hole-5.hole.on.splat {
    background-image:url('../images/Group5_splat.png');
}
#hole-6.hole.on.splat {
    background-image:url('../images/Group6_splat.png');
}
#hole-7.hole.on.splat {
    background-image:url('../images/Group7_splat.png');
}
#hole-8.hole.on.splat {
    background-image:url('../images/Group8_splat.png');
}
#hole-9.hole.on.splat {
    background-image:url('../images/Group9_splat.png');
}
#hole-10.hole.on.splat {
    background-image:url('../images/Group10_splat.png');
}

/* Countdown big numbers */
.big-number {
    font-size: 500%;
    position:absolute;
    color: red;
    text-shadow: 20px 20px yellow;
}

/* Global */

body { 
  background: url('../images/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1, h2, h3, h4, h5, h6 {
    text-align: center;
}


p {
    font-size: 150%;
}

/*First page */

div.intro-box {
    padding-top:50px;
    padding-bottom: 50px;
}

div.play-button {
    text-align: center;
}

/* HELPERS */
.inline {
    display: inline-block;
}

.transparent-background {
    background: rgba(255,255,255,0.9);
}

.top-buffer { 
    margin-top:20px; 
}

.padded {
    padding: 30px;
}
